<div ng-if='currentUser()'>
  <h1>Welcome, {{ currentUser().fullname }}!</h1>
</div>

<div ng-if='currentUser().isAdmin || currentUser().isDeveloper'>You're a 
  <span ng-if='currentUser().isAdmin'>admin</span>
  <span ng-if="currentUser().isAdmin && currentUser().isDeveloper"> and a </span>
  <span ng-if="currentUser().isDeveloper">developer</span>.
</div>

<hr>
<div class="row">
  <div ng-if='grouplessAPS.length > 0' class="col-sm-{{grouplessWidth}}">
    <h2>Access Point's</h2>
    <div class="panel-group" id="apCollapse">
      <div ng-repeat="(key, ap) in grouplessAPS" class="panel panel-default">
        <div class="panel-heading accordion-toggle" data-toggle="collapse" data-target="#collapse{{key}}" ng-click="collapse{{key}}.open =!collapse{{key}}.open">
          <h4 class="panel-title">
            {{ap.name}} ({{ap.type}}) <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': collapse{{key}}.open, 'glyphicon-chevron-right': !collapse{{key}}.open}"></i>
          </h4>
        </div>
        <div id="collapse{{key}}" class="panel-collapse collapse">
          <div class="panel-body">
            <!--<a data-toggle="modal" data-target="#modal{{key}}">Configure this Access Point</a>-->
            <a ng-if='ap.type === "owner"' ng-href='/#!/my_paradrop/configs/{{ap.guid}}/update'>Configure this Access Point</a>
            <a ng-if='ap.type !== "owner"' data-toggle="modal" data-target="#modal{{key}}">Configure this Access Point</a>
            <p>Location: {{ap.devinfo.location}}</p>
            <a ng-href='#!/my_paradrop/chutes/'>Chutes on this AP</a>
            <p>List apps here!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div ng-if="currentUser().defaultGroup" class='col-sm-{{groupWidth}}'>
    <div class="panel-group" id="apCollapse">
      <div ng-repeat="group in groups" class="panel panel-default">
        <div class="panel-heading accordion-toggle" data-toggle="collapse" data-target="#group{{group.trim}}" ng-click="group{{group.trim}}.open =!group{{group.trim}}.open">
          <h4 class="panel-title">
            <b>{{group.full}}</b> <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': group{{group.trim}}.open, 'glyphicon-chevron-right': !group{{group.trim}}.open}"></i>
          </h4>
        </div>
        <div id="group{{group.trim}}" class="panel-collapse collapse {{uncollapse}}">
          <div class="panel-body">
            <p><a ng-href='recon/home/{{group.full}}'><h1>Recon: Customer Analytics</h1></a></p>
            <button data-toggle="modal" data-target="#modalGroup{{group.trim}}" type="button" class="btn btn-primary">Config Options</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modals -->
<div ng-repeat="(key, ap) in currentUser().aps" class="modal fade" id="modal{{key}}" tabindex="-1" role="dialog" aria-labelledby="ap{{key}}" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">{{ap.name}}</h4>
      </div>
      <div class="modal-body">
        In this area you will be able to configure {{ap.name}}!!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<div ng-repeat="group in groups" class="modal fade" id="modalGroup{{group.trim}}" tabindex="-1" role="dialog" aria-labelledby="group{{group.trim}}" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">{{group.full}}</h4>
      </div>
      <div class="modal-body">
        <h3>Coming Soon!</h3>
        <p>In this area you will be able to configure Access Points in this group!!</p>
        <p>This includes these Access Points:</p>
        <ul>
          <li ng-repeat="ap in group.aps">{{ap.name}}</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
