$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

p, h6, h5, h4, h3, h2, h1, a{
font-family: 'Century Gothic', sans-serif;
}
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.para-text {
  padding-left: 20px;
  font-family: 'Century Gothic', sans-serif;
  font-size: 30px;
  color: black;
}

.padded-btn {
  padding-top: 15px;
  padding-bottom:15px;
}

.para-text:hover {
  cursor: pointer;
  color: black;
  text-decoration: none;
}

a:hover{
  cursor: pointer;
}

a:focus{
  outline: none;
}

.btn:focus{
  outline:none;
}

.accordion-toggle:hover{
  cursor:pointer;
}

.accordion-toggle:focus{
  outline:none;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.main-content {
  background: #FFF;
}

.slide-menu {
  background: #ccc;
}

/* CSSTerm.com Simple CSS menu */

.slide-menu ul {
  margin: 0; 
  padding: 0;
  width:100%;
  list-style-type: none;
}

.slide-menu li {
  border-bottom-style: dotted;
  border-width: 1px;
}
.slide-menu ul li a {
  text-decoration: none;
  color: white; 
  padding: 10.5px 11px;
  background-color: #ccc;
  display:block;
}

.slide-menu h4 {
  color: #000;  
}
 
.slide-menu ul li a:visited {
  color: white;
}
 
.slide-menu ul li a:hover, .menu_simple ul li .current {
  color: white;
  background-color: #ddd;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 1100px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.slide-btn {
  padding-left: 10px;
}

//fix zooming on forms in mobile
@media screen and (max-width: 768px) and (-webkit-min-device-pixel-ratio:0) { 
  select:focus,
  textarea:focus,
  input:focus,
  input:hover {
    font-size: 16px;
  }
}

/* Custom changes made by Leo */
.btn-set .btn {
  margin: 0.5em 0;
}
