<!-- TODO nice angular live validation for the fields -->
<div ng-controller='LoginCtrl'>
  <h1>New User Signup</h1>

  <form name='signupForm'
        method='post'
        novalidate
        ng-controller='NewUserCtrl'
        ng-submit='create(signupData, signupForm.$valid)'
        novalidate form-autofill-fix>

    <div class='form-group'>
      <label for='username'>
        Username:
      </label>
      <input  type='text'
              id='username'
              name='username'
              class='form-control'
              required
              ng-trim
              ng-maxlength=50
              ng-pattern=/^[\w]+$/
              ng-model='signupData.username'>
              <!-- TODO add ajax username-available-validator -->
      <div  class='error-container bg-danger'
            ng-show='signupForm.username.$dirty && signupForm.username.$invalid'>
        <small class='error' ng-show='signupForm.username.$error.required'>
          A username is required!
        </small>
        <small class='error' ng-show='signupForm.username.$error.maxlength'>
          Usernames must be less than 51 characters!
        </small>
        <small class='error' ng-show='signupForm.username.$error.pattern'>
          Usernames can only contain alphanumerics and underscores!
        </small>
      </div>
    </div>

    <div class='form-group'>
      <label for='password'>
        Password:
      </label>
      <input  type='password'
              id='password'
              name='password'
              class='form-control'
              required
              ng-maxlength=50
              ng-model='signupData.password'>
      <div  class='error-container bg-danger'
            ng-show='signupForm.password.$dirty && signupForm.password.$invalid'>
        <small class='error' ng-show='signupForm.password.$error.required'>
          A password is required!
        </small>
        <small class='error' ng-show='signupForm.password.$error.maxlength'>
          Passwords can only be less than 51 characters!
        </small>
      </div>
    </div>

    <div class='form-group'>
      <label for='confirmation'>
        Password Confirmation:
      </label>
      <input  type='password'
              id='confirmation'
              name='confirmation'
              class='form-control'
              required
              ng-maxlength=50
              must-match='signupData.password'
              ng-model='signupData.confirmation'>
      <div  class='error-container bg-danger'
            ng-show='signupForm.confirmation.$invalid && signupForm.confirmation.$dirty'>
        <small class='error' ng-show='signupForm.confirmation.$error.required'>
          A confirmation is required!
        </small>
        <small class='error' ng-show='signupForm.confirmation.$error.maxlength'>
          Password confirmations can only be less than 51 characters!
        </small>
        <small class='error'
          ng-show='signupForm.confirmation.$error.mustMatch && !signupForm.confirmation.$error.required'>
          Confirmation doesn't match password!
        </small>
      </div>
    </div>

    <div class='form-group'>
      <label for='fullname'>
        Full Name:
      </label>
      <input  type='text'
              id='fullname'
              name='fullname'
              class='form-control'
              required
              ng-trim
              ng-maxlength=50
              ng-model='signupData.fullname'>
      <div  class='error-container bg-danger'
            ng-show='signupForm.fullname.$dirty && signupForm.fullname.$invalid'>
        <small class='error' ng-show='signupForm.fullname.$error.required'>
          A full name is required!
        </small>
        <small class='error' ng-show='signupForm.fullname.$error.maxlength'>
          Due to our current system, full names can only be less than 51 characters.
        </small>
      </div>
    </div>

    <div class='form-group'>
      <label for='public'>
        Public Name:
      </label>
      <input  type='text'
              id='public'
              name='public'
              class='form-control'
              required
              ng-trim
              ng-maxlength=50
              ng-model='signupData.public'>
      <div  class='error-container bg-danger'
            ng-show='signupForm.public.$dirty && signupForm.public.$invalid'>
        <small class='error' ng-show='signupForm.public.$error.required'>
          A public name is required!
        </small>
        <small class='error' ng-show='signupForm.public.$error.maxlength'>
          Due to our current system, public names can only be less than 51 characters
        </small>
      </div>
    </div>

    <div class='form-group'>
      <label for='email'>
        Email:
      </label>
      <input  type='email'
              id='email'
              name='email'
              class='form-control'
              required
              ng-trim
              ng-maxlength=50
              ng-model='signupData.email'>
      <div  class='error-container bg-danger'
            ng-show='signupForm.email.$dirty && signupForm.email.$invalid'>
        <small class='error' ng-show='signupForm.email.$error.required'>
          An email is required!
        </small>
        <small class='error' ng-show='signupForm.email.$error.email'>
          Please enter a valid email.
        </small>
        <small class='error' ng-show='signupForm.email.$error.maxlength'>
          Emails must be less than 51 characters!
        </small>
      </div>
    </div>

    <div class='form-group'>
      <label for='contact'>
        Contact:
      </label>
      <input  type='text'
              id='contact'
              name='contact'
              class='form-control'
              required
              ng-trim
              ng-maxlength=50
              ng-model='signupData.contact'>
      <div  class='error-container bg-danger'
            ng-show='signupForm.contact.$dirty && signupForm.contact.$invalid'>
        <small class='error' ng-show='signupForm.contact.$error.required'>
          A contact is required!
        </small>
        <small class='error' ng-show='signupForm.contact.$error.maxlength'>
          Contacts must be less than 51 characters!
        </small>
      </div>
    </div>

    <div class='form-group' ng-if='MODES.restrictedSignup'>
      <label for='question'>
        What is the signup phrase?
      </label>
      <input  type='text'
              id='question'
              name='question'
              class='form-control'
              required
              ng-trim
              ng-model='signupData.question'>
      <div  class='error-container bg-danger'
            ng-show='signupForm.question.$dirty && signupForm.question.$invalid'>
        <small class='error' ng-show='signupForm.question.$error.required'>
          Please enter the correct signup phrase.
        </small>
      </div>
    </div>

    <div class='form-group'>
      <label for='isDeveloper'>
        Develop for Paradrop?
      </label>
      <input  type='checkbox'
              ng-model='signupData.isDeveloper'>
    </div>

    <button type='submit' class='btn btn-primary btn-block' ng-disabled='signupForm.$invalid'>Sign up</button>
  </form>
  <br>
  <div>
    Already have an account? <a ng-href='login'>Log in here</a>
  </div>
  <br>
</div>
