<!-- TODO nice angular live validation for the fields -->
<div ng-controller='LoginCtrl'>
  <h1>New User Signup</h1>

  <form name='signupForm'
        method='post'
        novalidate
        ng-controller='NewUserCtrl'
        ng-submit='create(signupData, signupForm.$valid)'
        novalidate form-autofill-fix>

    <div class='container row'
      ng-if='anyDirtyAndInvalid(signupForm, validatedInputNames)'>
      <div class='alert alert-danger'>
        <ul>
          <li ng-if='signupForm.username.$dirty && signupForm.username.$invalid'>
            Username
            <ul>
              <li ng-if='signupForm.username.$error.required'>
                Please enter a username
              </li>
              <li ng-if='signupForm.username.$error.maxlength'>
                Please use a shorter username (maximum 50 characters)
              </li>
              <li ng-if='signupForm.username.$error.pattern'>
                Please use only alphanumeric and underscore characters in your username
              </li>
            </ul>
          </li>
          <li ng-if='signupForm.password.$dirty && signupForm.password.$invalid'>
            Password
            <ul>
              <li ng-if='signupForm.password.$error.required'>
                Please enter a password
              </li>
              <li ng-if='signupForm.password.$error.maxlength'>
                Please use a shorter password (maximum of 50 characters)
              </li>
            </ul>
          </li>
          <li ng-if='signupForm.confirmation.$dirty && signupForm.confirmation.$invalid'>
            Password Confirmation
            <ul>
              <li ng-if='signupForm.confirmation.$error.required'>
                Please enter a password confirmation
              </li>
              <li ng-if='signupForm.confirmation.$error.mustMatch && !signupForm.confirmation.$error.required'>
                Please enter a password confirmation that matches the password
              </li>
            </ul>
          </li>
          <li ng-if='signupForm.fullname.$dirty && signupForm.fullname.$invalid'>
            Full Name
            <ul>
              <li ng-if='signupForm.fullname.$error.required'>
                Please enter a full name
              </li>
              <li ng-if='signupForm.fullname.$error.maxlength'>
                Please enter a shorter full name (maximum of 50 characters)
              </li>
            </ul>
          </li>
          <li ng-if='signupForm.public.$dirty && signupForm.public.$invalid'>
            Public Name
            <ul>
              <li ng-if='signupForm.public.$error.required'>
                Please enter a public name
              </li>
              <li ng-if='signupForm.public.$error.maxlength'>
                Please enter a shorter public name (maximum of 50 characters)
              </li>
            </ul>
          </li>
          <li ng-if='signupForm.email.$dirty && signupForm.email.$invalid'>
            Email
            <ul>
              <li ng-if='signupForm.email.$error.required'>
                Please enter an email
              </li>
              <li ng-if='signupForm.email.$error.email'>
                Please enter a valid emaill
              </li>
              <li ng-if='signupForm.email.$error.maxlength'>
                Please enter a shorter email (50 character maximum)
              </li>
            </ul>
          </li>
          <li ng-if='signupForm.contact.$dirty && signupForm.contact.$invalid'>
            Contact
            <ul>
              <li ng-if='signupForm.contact.$error.required'>
                Please enter your contact info
              </li>
              <li ng-if='signupForm.contact.$error.maxlength'>
                Please enter a maximum of 50 characters
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>

    <div class='form-group'>
      <label for='username'>
        Username:
      </label>
      <input  type='text'
              id='username'
              name='username'
              class='form-control'
              required
              ng-trim
              ng-maxlength=50
              ng-pattern=/^[\w]+$/
              ng-model='signupData.username'>
              <!-- TODO add ajax username-available-validator -->
    </div>

    <div class='form-group'>
      <label for='password'>
        Password:
      </label>
      <input  type='password'
              id='password'
              name='password'
              class='form-control'
              required
              ng-maxlength=50
              ng-model='signupData.password'>
    </div>

    <div class='form-group'>
      <label for='confirmation'>
        Password Confirmation:
      </label>
      <input  type='password'
              id='confirmation'
              name='confirmation'
              class='form-control'
              required
              ng-maxlength=50
              must-match='signupData.password'
              ng-model='signupData.confirmation'>
    </div>

    <div class='form-group'>
      <label for='fullname'>
        Full Name:
      </label>
      <input  type='text'
              id='fullname'
              name='fullname'
              class='form-control'
              required
              ng-trim
              ng-maxlength=50
              ng-model='signupData.fullname'>
    </div>

    <div class='form-group'>
      <label for='public'>
        Public Name:
      </label>
      <input  type='text'
              id='public'
              name='public'
              class='form-control'
              required
              ng-trim
              ng-maxlength=50
              ng-model='signupData.public'>
    </div>

    <div class='form-group'>
      <label for='email'>
        Email:
      </label>
      <input  type='email'
              id='email'
              name='email'
              class='form-control'
              required
              ng-trim
              ng-maxlength=50
              ng-model='signupData.email'>
    </div>

    <div class='form-group'>
      <label for='contact'>
        Contact:
      </label>
      <input  type='text'
              id='contact'
              name='contact'
              class='form-control'
              required
              ng-trim
              ng-maxlength=50
              ng-model='signupData.contact'>
    </div>

    <div class='form-group' ng-if='MODES.restrictedSignup'>
      <label for='question'>
        What is the signup phrase?
      </label>
      <input  type='text'
              id='question'
              name='question'
              class='form-control'
              required
              ng-trim
              ng-model='signupData.question'>
    </div>

    <div class='form-group'>
      <label for='isDeveloper'>
        Develop for Paradrop?
      </label>
      <input  type='checkbox'
              ng-model='signupData.isDeveloper'>
    </div>

    <button type='submit' class='btn btn-primary btn-block' ng-disabled='signupForm.$invalid'>Sign up</button>
  </form>
  <br>
  <div>
    Already have an account? <a ng-href='login'>Log in here</a>
  </div>
  <br>
</div>
