<h1>Recon: {{group_id}}</h1>
<div class='row'>
  <div class='text-center center-block'>
    <h2>
      <button class='btn btn-primary' ng-disabled='!enable' ng-click='prevDay()'>
        <span class='glyphicon glyphicon-chevron-left'></span>
      </button>
      {{date()}}
      <button class='btn btn-primary' ng-disabled='!enable' ng-click='nextDay()'>
        <span class='glyphicon glyphicon-chevron-right'></span>
      </button>
    </h2>
  </div>
</div>
<div>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li class="active"><a ng-href="#!/recon/home/{{group_id}}">Overview</a></li>
    <li><a ng-href="#!/recon/dashboard/{{group_id}}">Dashboard</a></li>
    <li><a ng-href="#!/recon/map/{{group_id}}">Location Tracking</a></li>
    <li><a ng-href="#!/recon/settings/{{group_id}}">Advanced Settings</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane active">
      <br>
      <br>
      <div class='row'>
        <div class='col-sm-12'>
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Recent Customers</h3>
            </div>
            <div class="panel-body">
              <img class="img-responsive center-block" ng-show="!contentLoaded" ng-src='images/spinner.gif'/>
              <h1 ng-if="contentLoaded">{{totalCusts}} Customers {{reconDate}}!</h1>
            </div>
          </div>
        </div>
      </div>
    <h1>More Coming Soon!</h1>
    </div>
  </div>
</div>
