<h1>Recon: {{group_id}}</h1>
<div class="row">
  <div class='col-md-12 form-group'>
    <div ng-if="isValidMap" class="btn-group">
      <button type="button" class="btn btn-primary">{{group_id}}-{{mapData.name}}</button>
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li ng-repeat="map in mapsArray" ng-if="!map.data.invalid"><a ng-click="switchMap($index)" >{{map.data.name}}</a></li>
      </ul>
    </div>
  </div>
</div>
<div>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li><a ng-href="recon/home/{{group_id}}">Overview</a></li>
    <li><a ng-href="recon/dashboard/{{group_id}}">Dashboard</a></li>
    <li class="active"><a ng-href="recon/map/{{group_id}}">Location Tracking</a></li>
    <li><a ng-href="recon/settings/{{group_id}}">Advanced Settings</a></li>
  </ul>
  <!-- Tab panes -->
  <div class="tab-pane">
    <img class="img-responsive center-block" ng-show="!mapData && !mapError && isValidMap" ng-src='images/spinner.gif'/>
    <map ng-if="mapData" style="height: 700px;" zoom="15" 
      center="{{mapData.centerX}}, {{mapData.centerY}}" 
        street-view-control="false" 
        zoom-control="false" 
        pan-control="false" 
        map-type-id="{{mapData.typeid}}" 
        map-type-control-options="{mapTypeIds: ['{{mapData.typeid}}']}"
        on-click="onClick()" 
        >
        <map-type name="{{mapData.typeid}}" object="firstFloorMapType">
        </map-type>
        <marker ng-if="showMarkers" ng-repeat="ap in mapData.aps" position="{{ap.lat}},{{ap.lng}}" title="{{apNameMap[ap.apid]}}" id="{{ap.apid}}" icon="images/wifi.png"></marker>
        <!-- ngRepeat: pos in positions -->
    </map>
    <div class='row'>
      <div class='col-md-3'>
        <div class="padded-btn">
          <button class="btn btn-primary" ng-click="showMarkers = !showMarkers;changeText(!showMarkers,true);" ng-disabled="!mapData">{{markerBtnText}} Paradrop Access Points</button>
        </div>
      </div>
      <div class='col-md-9'>
        <label for=="mac">
          Search:
        </label>
        <input type='text' class='form-control' ng-model='searchText'>
        <label ng-repeat="(key, value) in showingData"> 
          <input type="checkbox" ng-model="value.poly.hidden" ng-click="value.poly.setVisible(!value.poly.hidden)"> Hide {{value.id}}</input>
        </label>
      </div>
    </div>
  </div>
</div>
