<h1>Recon: {{group_id}}</h1>
<div role="tabpanel">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li><a ng-href="recon/home/{{group_id}}">Overview</a></li>
    <li><a ng-href="recon/dashboard/{{group_id}}">Dashboard</a></li>
    <li><a ng-href="recon/map/{{group_id}}">Location Tracking</a></li>
    <li class="active">
      <a ng-href="recon/settings/{{group_id}}">
        Advanced Settings
      </a>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane active">
      <div role="tabpanel" class="tab-pane" id="advanced">
        <h1>Coming Soon!!!</h1>
      </div>
    </div>
  </div>
</div>
