<form name="mapSettings">
  <div class="form-group">
    <label for=="name">Name:</label> 
    <input type="text" class="form-control" id="name" ng-model="settingsJSON.name" />
  </div>
  <div class="form-group">
    <label for=="centerX">Lat Center:</label> 
    <input type="number" class="form-control" id="centerX" ng-model="settingsJSON.centerX" />
  </div>
  <div class="form-group">
    <label for=="centerY">Lng Center:</label> 
    <input type="number" class="form-control" id="centerY" ng-model="settingsJSON.centerY" />
  </div>
  <div class="form-group">
    <label for=="maxZoom">Max Zoom:</label> 
    <input type="number" class="form-control" id="maxZoom" ng-model="settingsJSON.maxZoom" />
  </div>
  <div class="form-group">
    <label for=="minZoom">Min Zoom:</label> 
    <input type="number" class="form-control" id="minZoom" ng-model="settingsJSON.minZoom" />
  </div>
  <div class="form-group">
    <label for=="radius">Radius:</label> 
    <input type="number" class="form-control" id="radius" ng-model="settingsJSON.radius" />
  </div>
  <div class="form-group">
    <label for=="tileSizeX">Tile Size X:</label> 
    <input type="number" class="form-control" id="tileSizeX" ng-model="settingsJSON.tileSizeX" />
  </div>
  <div class="form-group">
    <label for=="tileSizeY">Tile Size Y:</label> 
    <input type="number" class="form-control" id="tileSizeY" name="tileSizeY"
    ng-model="settingsJSON.tileSizeY"/>
  </div>
</form>

