<div ng-controller='VNetCtrl'>
  <div ng-if="!!specificChute">
    <div class='container'>
      <span style='overflow-wrap:break-word;'>
        <h1>
          <strong>{{ specificChute.name }}</strong>: Virtual Network
          <!-- the link to edit this vnet -->
          <a ng-href='#!/my_paradrop/configs/{{apid}}/chutes/vnets/{{chuteid}}/update'>
            <span class='glyphicon glyphicon-edit' aria-hidden='true'></span>
          </a>
        </h1>
      </span>
    </div>
    <br>
    <ul>
      <li>
        <strong>Password</strong>: {{ specificChute.config.passwd }}
      </li>
      <li>
        <strong>Encryption</strong>: {{ specificChute.config.encryption }}
      </li>
      <li>
        <strong>Subnet</strong>: {{ specificChute.config.subnet }}
      </li>
      <li>
        <strong>Qos Up</strong>: {{ specificChute.config.qosup }}
      </li>
      <li>
        <strong>Qos Down</strong>: {{ specificChute.config.qosdown }}
      </li>
    </ul>
  </div>
  <div ng-if="!specificChute">
    You do not have access to this virtual network.
  </div>
</div>
