<div ng-controller='VNetCtrl'>
  <div ng-if="!!specificChute">
    <div class='container'>
      <span style='overflow-wrap:break-word;'>
        <h1>
          <strong>{{ specificChute.name }}</strong>: Virtual Network Update
          <a ng-href='#!/my_paradrop/configs/{{apid}}/chutes/vnets/{{chuteid}}/update'>
            <span class='glyphicon glyphicon-edit' aria-hidden='true'></span>
          </a>
        </h1>
      </span>
    </div>
    <br>
    <ul>
      <li ng-repeat='(key,val) in specificChute.config'>
        <strong>{{ key.toUpperCase() }}</strong>: {{ val }}
      </li>
    </ul>
  </div>
  <div ng-if="!specificChute">
    You do not have access to this virtual network.
  </div>
</div>
