<div ng-controller='VNetCtrl'>
  <h1><strong>SomeVirtNet</strong>: Virtural Network Update</h1>

  <div ng-if='!vnetToUpdate.ispending'>
    <form name='vnetUpdateForm'
    method='post'
    novalidate
    ng-controller='VNetCtrl'
    ng-submit='submitUpdate(vnetUpdateData, vneetUpdateForm.$valid)'
    form-autofill-fix>

      <div class='row'>
        <div class='form-group col-md-6 row'>
          <div class='col-sm-6'>
            <label for='ssid'>
            Network Name (SSID)
            </label>
          </div>
          <div class='col-sm-6'>
            <input
              type='text'
              ng-model='vnetUpdateData.ssid'
              autofocus
              required>
          </div>
        </div>
        <div class='form-group col-md-4 row'>
          <div class='col-sm-6'>
            <label for='password'>
            Password
            </label>
          </div>
          <div class='col-sm-6'>
            <input type='password' name='password' ng-model='vnetUpdateData.password' required>
          </div>
        </div>
        <div class='form-group col-md-2 row'>
          <div class='col-sm-6'>
            <label for='encryption'>
              Encryption
            </label>
          </div>
          <div class='col-sm-6'>
            {{ ENCRYPTION_TYPES }}
            <select name='encryption' required
              ng-options='encrType for encrType in ENCRYPTION_TYPES'>
            </select>
          </div>
        </div>
      </div>

      <hr>

      <div id='toggler' class='row btn-set'>
        <div class='col-md-12'>
          <button
            class='btn btn-large btn-default btn-block'
            type='button'
            ng-model='togglerBtn'
            ng-click='togglerBtn = !togglerBtn'>
            Advanced Options
          </button>
        </div>
      </div>

      <hr>

      <div id='advanced_opts' ng-show='togglerBtn'>
        <div class='row'>
          <div class='form-group col-md-12 row'>
            <div class='col-sm-6'>
              <label for='subnet'>
                Subnet
              </label>
            </div>
            <div class='col-sm-6'>
              <input type='text' name='subnet' required>
            </div>
          </div>
        </div>

        <hr>

        <div class='row'>
          <div class='form-group col-md-6 row'>
            <div class='col-sm-6'>
              <label for='radioid'>
                Radio ID
              </label>
            </div>
            <div class='col-sm-6'>
              <input type='number' name='radioid'>
            </div>
          </div>
          <div class='form-group col-md-6 row'>
            <div class='col-sm-6'>
              <strong>Primary Virtual Network?</strong>
            </div>
            <div class='btn-group col-sm-6' data-toggle='buttons'>
              <label class='btn btn-success btn-md'>
                <input type='radio' name='isprimary' id='isprimary-yes' autocomplete='off'>
                Yes
              </label>
              <label class='btn btn-danger btn-md'>
                <input type='radio' name='isprimary' id='isprimary-no' autocomplete='off'>
                No
              </label>
            </div>
          </div>
        </div>

        <hr>

        <div class='row'>
          <div class='form-group col-md-6 row'>
            <div class='col-sm-6'>
              <label for='qosup'>
                QoS Up
              </label>
            </div>
            <div class='col-sm-6'>
              <input type='number' name='qosup'>
            </div>
          </div>
          <div class='form-group col-md-6 row'>
            <div class='col-sm-6'>
              <label for='qosdn'>
                Qos Down
              </label>
            </div>
            <div class='col-sm-6'>
              <input type='number' name='qosdn'>
            </div>
          </div>
        </div>
      </div>

      <div class='row btn-set'>
        <div class='col-md-4'>
          <button type='submit' class='btn btn-primary btn-block'>
            Submit Update
          </button>
        </div>
        <div class='col-md-4'>
          <button type='button' class='btn btn-warning btn-block'>
            Revert
          </button>
        </div>
        <div class='col-md-4'>
          <a class='btn btn-danger btn-block'
            ng-href='#!/my_paradrop/configs/{{apid}}/chutes/vnets/{{chuteid}}'>
            Cancel
          </a>
        </div>
      </div>
    </form>
  </div>

  <div ng-if='vnetToUpdate.ispending'>
    There are updates currently pending. Please check back later.
  </div>
</div>
