<div XXXng-controller>
  <h1><strong>SomeVirtNet</strong>: Virtural Network Update</h1>

  <div XXXng-if='!vnetToUpdate.ispending'>
    <form name='vnetUpdateForm'
    method='post'
    novalidate
    XXXng-controller='VNetCtrl'
    ng-submit='submitUpdate(vnetUpdateData, vneetUpdateForm.$valid)'
    form-autofill-fix>

      <div class='row'>
        <div class='form-group col-md-4'>
          <label for='ssid'>
          Network Name (SSID)
          </label>
          <input type='text' XXXng-model='vnetUpdateData.ssid' required>
        </div>
        <div class='form-group col-md-4'>
          <label for='password'>
          Password
          </label>
          <input type='password' xxxng-model='vnetUpdateData.password' required>
        </div>
        <div class='form-group col-md-4'>
          <label for='encryption'>
            Encryption Type
          </label>
          <select name='encryption' required>
            <option>None</option>
            <option>PSK</option>
            <option>PSK2</option>
          </select>
        </div>
      </div>

      <div class='row'>
        <div class='form-group col-md-12'>
          <label for='subnet'>
            Subnet
          </label>
          <input type='text' name='subnet' required>
        </div>
      </div>

      <div class='row'>
        <div class='form-group col-md-6'>
          <label for='radioid'>
            Radio ID
          </label>
          <input type='number' name='radioid'>
        </div>
        <div class='form-group col-md-6'>
          <label for='isprimary'>
            Primary VNet?
          </label>
          <input type='radio' name='isprimary'>Yes
          <input type='radio' name='isprimary'>No
        </div>
      </div>
      <div class='row'>
        <div class='form-group col-md-6'>
          <label for='qosup'>
            QoS Up
          </label>
          <input type='number' name='qosup'>
        </div>
        <div class='form-group col-md-6'>
          <label for='qosdn'>
            Qos Down
          </label>
          <input type='number' name='qosdn'>
        </div>
      </div>

      <div class='row btn-set'>
        <div class='col-md-4'>
          <button type='submit' class='btn btn-primary btn-block'>
            Submit Update
          </button>
        </div>
        <div class='col-md-4'>
          <button type='button' class='btn btn-warning btn-block'>
            Revert
          </button>
        </div>
        <div class='col-md-4'>
          <a class='btn btn-danger btn-block' xxxng-href>
            Cancel
          </a>
        </div>
      </div>
    </form>
  </div>

  <div ng-if='vnetToUpdate.ispending'>
    There are updates currently pending. Please check back later.
  </div>
</div>
