<div ng-controller='MyParadropCtrl'>
  <div ng-controller='ConfigCtrl'>
    <h1><strong>{{ deviceToUpdate.name }}</strong>: Configuration Update</h1>

    <form name='configUpdateForm'
          method='post'
          novalidate
          ng-controller='ConfigCtrl'
          ng-submit='create(configUpdateData, configUpdateForm.$valid)'
          novalidate form-autofill-fix>

      <div class='form-group'>
        <strong>Operating Mode</strong>
        <input type='radio' ng-model='mode' value='auto'> Automatic
        <input type='radio' ng-model='mode' value='manl'> Manual
      </div>

      <div class='form-group'>
        <label for='channelSelect'>
          Channel Select
        </label>
        <select name='channelSelect' ng-model='channel'
          ng-options='channelNumber for channelNumber in CHANNELS | orderBy:channelNumber'>
        </select>
        <div class='error-container bg-danger' ng-show='configUpdateForm.channelSelect.$dirty'>
          <small class='error' ng-show='usingSlowChannel(configUpdateForm.channelSelect.$viewValue)'>Slow channel</small>
        </div>
      </div>
      <button type='submit' class='btn btn-primary btn-block' ng-disabled='configUpdateForm.$invalid'>Submit Update</button>
      <button type='button' class='btn btn-warning btn-block'>Revert</button>
      <button type='button' class='btn btn-danger  btn-block' ng-click='go("/#!/my_paradrop/configs/")'>Cancel FIXME</button>
    </form>
  </div>
</div>
