<h1>About</h1>
<div class='jumbotron'>
  <h2>We think of Paradrop as a</h2>
  <p>
    multi-tenant platform for dynamically installed third party services
    on home gateways
  </p>
  <h2>But you can think of Paradrop as a</h2>
  <p>
    special router than can run applications to augment your web experiennce
  </p>

  <h2 class='text-muted'>
    <em>We want to do for routers what smartphones did for mobile</em>
  </h2>
</div>

<div id='faq'>
  <h2>Frequently Asked Questions</h2>

  <h3>What is Paradrop?</h3>
  <p>
    Paradrop is a research project out of the
      <a href='http://research.cs.wisc.edu/wings/doku.php'>WiNGS Laboratory</a>
    in the
      <a href='http://cs.wisc.edu'>Computer Sciences</a>
    department at
      <a href='http://wisc.edu'>The University of Wisconsin - Madison</a>.
  </p>
  <p>
    It is a framework that allows third party developers access to computational
    resources on access points (APs or gateways) within the home. Its goal is to
    bring networking intelligence in the home through the replacement of
    commodity WiFi AP hardware.
  </p>
  <p>
    This will provide many unique capabilities to all entities who come in
    contact with networking-related technology including:

    <ul>
      <li>end-users</li>
      <li>developers</li>
      <li>ISPs</li>
      <li>content distributors</li>
    </ul>
  </p>

  <h3>Where can I get a Paradrop Router?</h3>
  <p>
    We are currently perfecting out hardware platform, and so at this time we
    do not have a commercial product available.

    We have already released some prototypes and are moving forward with a
    main build idea.
  </p>

  <h3>Why name it Paradrop?</h3>
  <p>
    By definition, a paradrop is a deployment of supplies to a mobile or not
    well-travelled location.
  </p>
  <p>
    This is exactly what Paradrop does -- it provides supplies (computational
    resources) to developers in a location that is traditionally difficult to
    access, the home.
  </p>

  <h3>Why might I want computational resources in my home?</h3>
  <p>
    Paradrop enables the decoupling of the network control plane for many
    categories of applications in a way that isn't possible by other means.

    What this allows is a network-based approach to implement applications
    that are agnostic to the end points of a service.
  </p>
</div>
