<div class='container'>
  <h1>Welcome to the App Store</h1>

  <div class='container'>
    <form name='searchForm'>
      <div class='row'>
        <div class='form-group col-lg-6'>
          <label for='query-input'>Search</label>
          <input name='query-input' class='form-control' placeholder='Query' ng-model='queryStr'></input>
        </div>
        <div class='form-group col-lg-6'>
          <label for='genre-select'>Genre</label>
          <select class='form-control' name='genre-select' ng-model='genreFilter'>
            <option value='' selected>All genres</option>
            <option ng-repeat='genre in genres' ng-value='{{ genre }}'>{{ genre }}</option>
          </select>
        </div>
      </div>
    </form>
  </div>

  <div class='container'>
    <div class='row'>
      <div ng-repeat='app in appData | filter : queryStr | filter : genreFilter'>
        <div class='clearfix' ng-if='$index % 4 === 0'>
          <!-- &nbsp; -->
        </div>
        <div class='col-lg-3'>
          <div class='app-data-container' id='paradrop-app-{{ app.id }}' ng-click='launchAppModal(app.id)'>
            <div class='app-icon-container' ng-if='app.iconUrl'>
              <img src='{{ app.iconUrl }}' alt='{{ app.name }}' class='img-responsive img-thumnail'>
            </div>
            <hr>
            <div class='app-content-container'>
              <h4 class='app-name'>{{ app.name }}</h4>
              <ul class='list-unstyled'>
                <li><span class='app-author'>{{ app.author }}</span></li>
                <li><span class='app-genre'>{{ app.genre }}</span></li>
                <li><span class='app-release-data'>{{ app.releaseDate | date : shortDate }}</span></li>
              </ul>
              <pre>{{ app.metaData | json }}</pre>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- specific app modal -->
<div class='container'>
  <div class='modal fade' tabindex='-1' role='dialog' id='appModal'>
    <div class='modal-dialog'>
      <div class='modal-content'>
        <div class='modal-header'>
          <button type='button' class='close' data-dismiss='modal'
            aria-label='Close'>
            <span aria-hidden='true'>&times;</span>
          </button>
          <h4 class='modal-title'>TITLE GOES HERE</h4>
        </div>
        <div class='modal-body'>
          <p>Content goes here</p>
        </div>
        <div class='modal-footer'>
          <button type='button' class='btn btn-default'
            data-dismiss='modal'>
            Close
          </button>
          <button type='button' class='btn btn-primary'>Do thing</button>
        </div>
      </div>
    </div>
  </div>
</div>

<br>
