<div class="row">
  <div class="col-sm-2 form-group">
    <button class="btn btn-primary" ng-click="">{{groupMaps.groupname}}</button>
  </div>
  <div class='col-sm-1 form-group'>
    MAC:
  </div>
  <div class='col-sm-4 form-group'>
    <input type='text' id='MAC' class='form-control' ng-model='mac'>
  </div>
  <div class="col-sm-1 form-group">
    <button class="btn btn-primary" ng-click="start()">Start</button>
  </div>
  <div class="col-sm-1 form-group">
    <button class="btn btn-primary" ng-click="finish()">Finish</button>
  </div>
  <div class="col-sm-1 form-group">
    <button class="btn btn-primary" ng-click="poll()">Poll</button>
  </div>
  <div class="col-sm-2 form-group">
    <button class="btn btn-primary" ng-click="sendCoord()">Send Coord</button>
  </div>
</div>
    <h1 ng-if="mapError">Error loading map</h1>
    <img class="img-responsive center-block" ng-show="!mapReady && !mapError" ng-src='images/spinner.gif'/>
    <map ng-if="mapReady" style="height: 700px;" zoom="15" 
      center="{{mapData.centerX}}, {{mapData.centerY}}" 
        street-view-control="false" 
        zoom-control="false" 
        pan-control="false" 
        map-type-id="{{mapData.typeid}}" 
        map-type-control-options="{mapTypeIds: ['{{mapData.typeid}}']}"
        on-click="onClick()" 
        >
        <map-type name="{{mapData.typeid}}" object="firstFloorMapType">
        </map-type>
        <marker ng-repeat="ap in mapData.aps" ng-if="showMarkers[ap.apid]" position="{{ap.lat}},{{ap.lng}}" title="{{revApNameMap[ap.apid]}}" id="{{ap.apid}}" icon="images/wifi.png"></marker>
        <marker ng-if="showLocation" position="{{coords.lat}},{{coords.lng}}" title="My Location" id="currentLocation" icon="images/here.png"></marker>
        <!-- ngRepeat: pos in positions -->
    </map>
    <button class="btn btn-primary" ng-click="clear()">Clear</button>
