<div>
  <em class='pdblue'>We love talking to people about the Paradrop platform. If you would like to know more or how to get involved, please see below:</em>
  <br />
  <br />
  <br />
  
  <h1>Interest list</h1>
  <a data-toggle="modal" data-target="#contactModal">Join our interest list</a> so we can keep you informed about the status of Paradrop (very infrequent emails).
  <br />
  <br />

  <h1>General questions</h1>
  If you just have general questions, please contact us at <a href='mailto:info@paradrop.io'>info@paradrop.io</a>.
  <br />
  <br />

  <h1>Investment</h1>
  For investment opportunities, please contact us at <a href='mailto:founders@paradrop.io'>founders@paradrop.io</a>.
  <br />
  <br />

  <h1>Partnerships</h1>
  If you are a company interested in hearing more about Paradrop and its benefits to smart home innovation, please contact us at <a href='mailto:founders@paradrop.io'>founders@paradrop.io</a>.

  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
</div>
