<h1>Recon: {{group_id}}</h1>
<div role="tabpanel">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a data-target="#tracking" aria-controls="tracking" role="tab" data-toggle="tab">Location Tracking</a></li>
    <li role="presentation"><a ng-click="chartInfo.chart.reflow();chartInfo2.chart.reflow();chartInfo3.chart.reflow();" data-target="#dashboard" aria-controls="dashboard"  role="tab" data-toggle="tab">Dashboard</a></li>
    <li role="presentation" ><a data-target="#home" aria-controls="home" role="tab" data-toggle="tab">Overview</a></li>
    <li role="presentation"><a data-target="#advanced" aria-controls="advanced" role="tab" data-toggle="tab">Advanced Settings</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane" id="home">
      <h1>{{totalCusts}} Customers Today</h1>
      <hr>
      <h1>More Coming Soon!</h1>
    </div>
    <div role="tabpanel" class="tab-pane" id="dashboard">
      <div class='row'>
        <div class='col-sm-12'>
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Total Users</h3>
            </div>
            <div class="panel-body">
              <img class="img-responsive center-block" ng-show="!contentLoaded" ng-src='images/spinner.gif'/>
              <highchart ng-if="contentLoaded" id="chart1" config="chartConfig"></highchart>
            </div>
          </div>
        </div>
      </div>
      <div class='row'>
        <div class='col-sm-12'>
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">New vs Repeat Customers</h3>
            </div>
            <div class="panel-body">
              <img class="img-responsive center-block" ng-show="!content3Loaded" ng-src='images/spinner.gif'/>
              <highchart ng-if="content3Loaded" id="chart3" config="chartConfig3"></highchart>
            </div>
          </div>
        </div>
      </div>
      <div class='row'>
        <div class='col-sm-12'>
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Customer Engagment</h3>
            </div>
            <div class="panel-body">
              <highchart ng-if="content2Loaded" id="chart2" config="chartConfig2"></highchart>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane active" id="tracking">
      <h1 ng-if="mapError">Error loading map</h1>
      <img class="img-responsive center-block" ng-show="!mapReady" ng-src='images/spinner.gif'/>
      <map ng-if="mapReady" style="height: 700px;" zoom="15" 
        center="{{mapData.centerX}}, {{mapData.centerY}}" 
          street-view-control="false" 
          zoom-control="false" 
          pan-control="false" 
          map-type-id="{{mapData.typeid}}" 
          map-type-control-options="{mapTypeIds: ['{{mapData.typeid}}']}"
          on-click="onClick()" 
          >
          <map-type name="{{mapData.typeid}}" object="firstFloorMapType">
          </map-type>
          <marker ng-repeat="ap in mapData.aps" position="{{ap.lat}},{{ap.lng}}" title="{{apNameMap[ap.apid]}}"></marker>
          <!-- ngRepeat: pos in positions -->
      </map>
    </div>
    <div role="tabpanel" class="tab-pane" id="advanced"><h1>Coming Soon!!!</h1></div>
  </div>

</div>
