<div class='pdblue title' id='head'>Information for developers</div>
  <div class='jumbotron'>
    <div class='row'>
      <div class='col-sm-10 col-sm-offset-1'>
        <p>
          Paradrop is an open source software platform that <em class='pdblue'>transforms Wi-Fi routers into smart devices</em> using state of the art techniques related to virtualization.
        </p>
        <hr />
        <p>
          We leverage core technologies like Snappy Ubuntu and Docker to enable applications to exist on Wi-Fi routers within the home.
          This has enabled us to create an app-store ecosystem for Internet services.
          With an Internet-connected, active router, and a physical footprint in the home, the possible applications are virtually endless.
          To get a few ideas of applications, please see our <a href="/info/users#exampleapps">example applications</a>.
        </p>
        <div class='container'>
          <div>
            <a class="btn btn-lg btn-pdblue" data-toggle="modal" data-target="#contactModal">Sign up to stay up to date with Paradrop</a>
          </div>
          <br>
          <div>
            <a class='btn btn-lg btn-pdblue'
              href='http://paradrop.readthedocs.org'>Read our Docs</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<hr />
<div class='row'>
    <div class='col-md-10 col-md-offset-1'>
        <div class='pdred title'>Local Computing</div>
        <div class='row'>
            <div class='col-md-10 col-md-offset-1'>
                <p>
                The world of cloud computing revolves around a model of “location doesn’t matter”. Unless you are talking about micro or milliseconds, if you launch your application, it really doesn’t matter if it runs in a server farm in Oregon or in Iowa.
                </p>
                <p>
But what if it did? Imagine you could write an application that physically existed within someone’s home that was always connected to the internet, powered on 24/7, and didn’t require extra hardware? Or an application where the program knew it was at 82nd and Broadway in NYC.
                </p>
                <p>
Having knowledge of these locations and the assets physically nearby opens up a new world of local computing. And that world is powered by <em class='pdblue'>Paradrop</em>. <em class='pdblue'>Paradrop</em> provides this ability, whether this is through one of our several <a href="info/developers#citywide">city-wide deployments</a>, or within a user’s home. 
                </p>
            </div>
        </div>
    </div>
</div>
<div id='citywide' class='container'>
    <div class='row'>
        <div class='col-md-10 col-md-offset-1'>
            <div class='pdred title'>City-Wide Deployments</div>
            <div class='row'>
                <div class='col-md-10 col-md-offset-1'>
                    <p>
                    We are partnering with several cities nationwide to provide outdoor Wi-Fi Access Points powered by <em class='pdblue'>Paradrop</em> in the downtown areas. We want developers to leverage our platform by providing value added services to these cities. Imagine if outdoor sensor data could be aggregated and analyzed locally without the huge infrastructure requirements of typical city-wide deployments. What if businesses could advertise to customers based on their location as they connect to the Wi-Fi, without installing an app on the phone? All of these applications and more are possible through our city-wide <em class='pdblue'>Paradrop</em> deployments. Stay tuned for our first locations to be announced very soon.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
