<div class='pdblue title'>Information for developers</div>
  <div class='jumbotron'>
    <div class='row'>
      <div class='col-sm-10 col-sm-offset-1'>
        <p>
          Paradrop is an open source software platform that <em class='pdblue'>transforms Wi-Fi routers into smart devices</em> using state of the art techniques related to virtualization.
        </p>
        <hr />
        <p>
          We leverage core technologies like Snappy Ubuntu and Docker to enable applications to exist on Wi-Fi routers within the home.
          This has enabled us to create an app-store ecosystem for Internet services.
          With an Internet-connected, active router, and a physical footprint in the home, the possible applications are virtually endless.
          To get a few ideas of applications, please see our <a href="/info/users#exampleapps">example applications</a>.
        </p>
        <p>
        <a data-toggle="modal" data-target="#contactModal">Please join our interest list for more information.</a>
        </p>
      </div>
    </div>
  </div>
</div>
