<div class='pdblue title'>Information for users</div>
<div class='jumbotron'>
    <div class='row'>
        <div class='col-sm-10 col-sm-offset-1'>
            <p>
            <em class='pdblue'>Paradrop</em> revolutionizes <em class='pdblue'>routers</em> the way <em class='pdred'>apps</em> revolutionized <em class='pdred'>smartphones</em>.
            </p>
            <hr />
            <p>
            For instance, parental controls are a breeze with Paradrop.
            Simply install a parental controls app from our app store and the Paradrop router will create a separate network for your children.
            You will no longer need to configure each device or worry if your child has friends over and they have uncontrolled devices.
            Because the router manages all access through a special network, you never have to worry about the content your children view on the Internet while in the home.
            </p>
            <p>
            Since the router controls all Internet traffic in the home, the possibilities for apps are endless.
            For an explanation of a few different apps, please see our <a href="#exampleapps">example applications</a> below.
            </p>
            <p>
            <a data-toggle="modal" data-target="#contactModal">Please join our interest list to learn more about Paradrop.</a>
            </p>
        </div>
    </div>
</div>
</div>

<div id='exampleapps' class='container'>
<div class='pdblue title'>Example Applications</div>
<hr />
<div class='row'>
    <div class='col-md-10 col-md-offset-1'>
        <div class='pdred title'>Parental Controls</div>
        <div class='row'>
            <div class='col-md-10 col-md-offset-1'>
                <h3>Simplifying parental controls in the home.</h3>
                <p>
                After installing the app, a <em class='pdblue'>special network</em> is created just for your children.
                Now, <em>any</em> device that connects to this network will have its traffic reviewed by the app.
                </p>
                <p>
                Remember, since this is a Paradrop app we can actually support much more complex abilities:
                </p>
                <p class='list-group'>
                What if you want your child to stop using Facebook(TM) after 2 hours on weekdays?
                </p>
                <p class='list-group'>
                What if you want to set limits on how much internet use your child can have on both weekends and weekdays?
                </p>
                <p class='list-group'>
                What if your child has friends over and one of them has a tablet that doesn't have parental controls on it? 
                </p>
                <p>
                <em class='pdblue'>All of these problems are easily solved by Paradrop because it uses the router</em>
                </p>
            </div>
        </div>
    </div>
</div>
<hr />
<div class='row'>
    <div class='col-md-10 col-md-offset-1'>
        <div class='pdred title'>Netflix</div>
        <div class='row'>
            <div class='col-md-10 col-md-offset-1'>
                <h3>Guaranteed Hi-Def streaming movies in the home.</h3>
                <hr/>
                <div class="embed-responsive embed-responsive-16by9">
                  <iframe src="https://youtube.com/embed/R2_zgxBd31o"></iframe>
                </div>
                <hr/>
                <p>
                This <em class='pdblue'>guarantees</em> that no matter how bad your Internet connection is, the video you watch will be full High-Definition.
                </p>
            </div>
        </div>
    </div>
</div>
<hr />
<div class='row'>
    <div class='col-md-10 col-md-offset-1'>
        <div class='pdred title'>Security Cameras</div>
        <div class='row'>
            <div class='col-md-10 col-md-offset-1'>
                <h3>Cloud-based security without the cloud.</h3>
                <p>
                Security in the home is simpler today than it ever has been in the past.
                Dozens of options for cloud-based monitoring of your home exist.
                But what if you don't want your private video to be stored in the cloud where you have no control over the security of it?
                Then the options drop down to nearly zero.
                </p>
                <p>
                After installing the Paradrop security camera app, your router becomes the new cloud for security cameras in your home.
                The video is stored locally, but still accessible from anywhere in the world using secure temporary connections to the home.
                </p>
                <p>
                Since the video is local, the app can also process the video to look for problems such as:
                <h4><li>unknown people</li>
                <li>motion</li></h4>
                </p>
            </div>
        </div>
    </div>
</div>
</div>
