<div class="jumbotron">
  <h1>Welcome to </h1>
  <br />
  <img src='images/biglogo.png' class='landing-logo'/>
  <br />
  <br />

  <p>
    Our purpose is to make Internet-based services <em class='pdblue'>better for everyone.</em>
  </p>
</div>

<hr />

<div class='container'>
  <div class='row'>
    <div class='col-md-8 col-md-offset-2'>
      <p>
        Paradrop replaces <em class="pdred">today's Wi-Fi router</em> with an <em class="pdblue">intelligent platform</em> capable of handling the
        fast-paced, complex, and evolving Internet of tomorrow.
      </p>
      <p>
        Paradrop is an intelligent platform that lives on Wi-Fi routers, where special applications can be installed by the owner.
        These apps enable your router, the nerve center of all Internet in the home, to solve complex problems in ways that are impossible using today's routers.
      </p>
    </div>
  </div>
</div>

<hr />

<div class="jumbotron">
  <div class='row'>
    <div class='col-lg-4 form-group'>
        <a class="btn btn-lg btn-pdblue" ng-href="info/users">Information for users</a>
    </div>
    <div class='col-lg-4 form-group'>
        <a class="btn btn-lg btn-pdblue" data-toggle="modal" data-target="#contactModal">Join our interest list</a>
    </div>
    <div class='col-lg-4 form-group'>
        <a class="btn btn-lg btn-pdblue" ng-href="info/developers">Information for developers</a>
    </div>
  </div>
</div>

  

