<div class="jumbotron">
  <h1>Welcome to </h1>
  <br />
  <img src='images/biglogo.png' height="160vw"/>
  <br />
  <br />

  <p>
    Our purpose is to make Internet-based services <em class='pdblue'>better for everyone.</em>
  </p>
  <hr />
  <p>
    Paradrop replaces the <em class="pdred">outdated Wi-Fi router of today</em> with an <em class="pdblue">intelligent platform</em> capable of handling the
    fast-paced, complex, and evolving Internet of tomorrow.
  </p>
  <br />
  <br />

<div class='container'>
  <div class='row'>
  <div class='col-lg-6'>
    <a class="btn btn-lg btn-pdblue" ng-href="info/users">Information for users</a>
  </div>
  <div class='col-lg-6'>
    <a class="btn btn-lg btn-pdblue" ng-href="info/developers">Information for developers</a>
  </div>
  </div>
</div>

</div>
  

<br />
