<div class="jumbotron">
  <h1>Welcome to </h1>
  <br />
  <img src='images/biglogo.png' class='landing-logo'/>
  <br />
  <br />

  <p>
    Our purpose is to make Internet-based services <em class='pdblue'>better and easier for everyone.</em>
  </p>
</div>

<hr />

<div class='container'>
  <div class='row'>
    <div class='col-md-8 col-md-offset-2'>
      <p>
        Paradrop replaces <em class="pdred">today's Wi-Fi router</em> with an <em class="pdblue">intelligent platform</em> capable of handling the
        fast-paced, complex, and evolving Internet of tomorrow.
      </p>
      <p>
        Paradrop lives on Wi-Fi routers, where special applications can be installed by the owner.
        These apps enable your router, <em class="pdblue">the nerve center of all Internet in the home</em>, to solve complex problems in ways that are impossible using today's routers.
      </p>
      <p>
        Applications installed on Paradrop routers benefit users by being simpler, more secure, and more private.
        We achieve this by keeping content that would <em class="pdblue">normally go to the cloud inside of the home instead.</em>
      </p>
      <p>
        Paradrop was created by researchers out of the University of Wisconsin-Madison. For more information about us, <a href="about#head">please visit our about page</a>.
      </p>
    </div>
  </div>
  <br />
  <div class='row'>
    <div class='col-md-6 col-md-offset-3 form-group'>
        <a class="btn btn-lg btn-pdblue" data-toggle="modal" data-target="#contactModal">Sign up to stay up to date with Paradrop</a>
    </div>
  </div>
</div>

<hr />

<div class="jumbotron">
  <p>Find out more about how Paradrop can help you:</p>
  <div class='row'>
    <div class='col-lg-6 form-group'>
        <a class="btn btn-lg btn-pdblue" ng-href="info/users#head">Information for users</a>
    </div>
    <div class='col-lg-6 form-group'>
        <a class="btn btn-lg btn-pdblue" ng-href="info/developers#head">Information for developers</a>
    </div>
  </div>
</div>

  

