
<h1>Privacy Policy</h1>
<p>
Paradrop takes your privacy seriously. Paradrop understands that privacy is very important to users of our service and we are committed to protecting your information as set forth in this Privacy Policy ("Policy"). 
</p>

<p>
This Policy (together with our Terms of Use and any other documents referred to in it) describes the personal information that we collect from you, or that you provide on this Site or through our services and any applications (including mobile-based applications) made available by Paradrop (collectively, the "Services") and how that information may be used or disclosed by us. 
</p>

<p>
This Policy does not apply to information we collect through any other means, or to information collected on any other company, affiliate or third party site or by any third party application that may link to or be accessible from the Services.
</p>

<p>
Please read this Policy carefully to understand our policies and practices regarding your personal information. By using or accessing the Services, you agree to this Policy. 
</p>

<p>
The Policy covers the entire Paradrop website ("Paradrop," the "Site," "we," "us," or "our"). This Policy may change from time to time, and your continued use of the Services is deemed to be acceptance of such changes, so please check the Policy periodically for updates.
</p>

<h2>Minors under the age of 13</h2>
<p>
You must be 18 years of age or older to use the Paradrop Service.  Our Services are not intended for minors under 13 years of age and no one under age 13 may provide any personal information to the Services. Pursuant to the Children's Online Privacy Protection Act, we do not knowingly collect personal information from children under 13. If you are under 13 years of age, please do not register for the Service or send any information about yourself to us, including your name, address, telephone number or e-mail address. In the event we learn that we have collected personal information from a minor under age 13, we will delete that information.
</p>

<h2>Information Collection</h2>
<p>
We collect information from and about users of our Services. We collect information you provide to us and information we receive from third parties (such as our business partners), as well as information we collect as you navigate the Services, including usage details, IP addresses and cookies. 
</p>

<p>
When you submit and manage your account information, you are providing information to us, and our website collects your personal information such as your name, e-mail address, and other information necessary for using the Service. Paradrop uses your information to provide the Services and send you necessary communications related to your use of the Services, your account, and purchases made on the Site. We may retain records and copies of all correspondence between you and us, including emails or survey responses.
</p>

<p>
In addition, we maintain a record of your purchases, product interests, and other account details that might enable us to improve your experience. Analytics such as website use and traffic patterns are also considered to help us improve the design of our Site, the products and Services we offer, and the way we communicate with you.
</p>

<h2>What we use collected information for</h2>
<p>
We use information that we collect about you or that you provide to us, including any personal information, in a variety of ways, including, but not limited to:
</p>

<ul>
<li>Presenting our Services and its contents in a suitable and effective manner for you and for your computer or mobile devices. 
<li>Improving our Services and personalizing your experience using our Services.
<li>Providing you with information, products or services that you request from us.
<li>Carrying out our obligations and enforcing our rights arising from any contracts entered into between you and us.
<li>Notifying you about changes to our Services, terms, conditions, and policies.
<li>Allowing you to participate in features of our Services, when you choose to do so.
</ul>

<p>
We do not disclose your personally identifiable information to our advertisers, but we may provide them with aggregated information about our users (for example, we may disclose the average age and number of users that click on an advertisement). 
</p>

<h2>Disclosure of Collected Information</h2>
<p>
We may disclose personal information that you provide via our Services to the following third parties:
</p>

<ul>
<li>Our subsidiaries and affiliates.
<li>Contractors and service providers we use to support our business who (i) need the information in order to provide Services and (ii) agree not to disclose information to others.
<li>A buyer in the event of a merger, divestiture, restructuring, reorganization, dissolution or any other form of sale of some or all of Paradrop's assets, whether as a going concern or as part of bankruptcy, liquidation or similar proceeding, in which personal information held by Paradrop about its customers is among the assets transferred.
</ul>

<h2>Usage Details</h2>
<p>
As you use our Services, we may also collect details of your visits to our Site or use of our Services, including without limitation traffic data, location data, and other communication data, and the resources that you access, as well as information about your computer and internet connection, including your IP address, operating system and browser type, for system administration and to report aggregate information to our advertisers. This is statistical data does not personally identify specific website users. Your non-personally identifiable information data may be aggregated with similar data collected from other users to help us improve Paradrop products, services and our overall Site experience.
</p>

<p>
Paradrop uses cookies and other technologies to collect non-personally-identifiable information from our Site users. Cookies are a feature of web browser software that allows servers to recognize the device through which you are browsing and save certain account information to provide personalized and streamlined access across related pages on our website. 
</p>

<p>
Information gathered through cookies and web-server log files may include the date and time of visits, the pages viewed, IP addresses, links to/from any page, and time spent at our Site. Such cookie data allows us to better understand the traffic, interactions and transactions taking place on our website, and ultimately improve the functionality of our online shop. Site users have the option to accept or disable cookies at any time through their browsers. If you choose to disable your cookies, your user experience may be limited.
</p>


<h2>Information sharing with outside parties</h2>
<p>
Paradrop will never rent or sell your e-mail address. We do not share credit card information with third parties except (i) those listed above, whom the user acknowledges and agrees is authorized to have access to such information, and for the purpose of processing your order payment and (ii) as required by law. 
</p>

<p>
We may include links to third party websites, products or services from our Services.  These third party sites have their own privacy policies and we therefore have no responsibility or liability for the content and activities of these linked sites or for any interaction you may have with these linked sites. If you choose to access a third party website linked to our Site, you do so at your own risk. We encourage you to carefully read the privacy policy and terms of use of any third party website linked tour site.
</p>

<h2>Security</h2>
<p>
We are committed to working with trusted partners who employ physical, electronic, and administrative safety measures to protect your personal information and credit card data. These safeguards help us to prevent fraud and unauthorized access as well as maintain data accuracy to better serve you.
</p>

<p>
In addition, we have implemented measures designed to secure your personal information from accidental loss and from unauthorized access, use, alteration and disclosure. All information you provide to us is stored on our secure servers behind firewalls. The safety and security of your information also depends on you. Where you have chosen a password for access to certain parts of our Services, you are responsible for keeping this password confidential. 
</p>

<p>
Unfortunately, no network is completely secure and all users acknowledge that Paradrop is not responsible for the loss, corruption or unauthorized acquisition of personal information provided through our Site or Services, or any damages resulting therefrom.
</p>

<h2>Modification of policies</h2>
<p>
Paradrop reserves the right, in Paradrop's sole discretion, to modify this Privacy Policy at any time to better serve our customers. In the event of any such modification, the modified Privacy Policy will be posted on our Site. Please check back often to review any new modifications that have been made.
</p>

<p>
If you have questions or suggestions regarding our privacy standards please email admin@paradrop.io
</p>

