<div ng-controller='LoginCtrl'>
  <h1>New User Signup</h1>

  <form name='loginForm'
        action='sink.html' target='sink' method='post'
        ng-controller='LoginCtrl'
        ng-submit='login(credentials)'
        novalidate form-autofill-fix>

    <label for='username'>
      Username:
    </label>
    <input type='text' id='username' class='form-control' ng-model='credentials.username'>

    <label for='password'>
      Password:
    </label>
    <input type='password' id='password' class='form-control' ng-model='credentials.password'>

    <br>

    <button type='submit' class='btn btn-primary btn-block'>Sign up</button>
  </form>
  <br>
  <div>
    Already have an account? <a ng-href='/#/login'>Log in here</a>
  </div>
  <br>
</div>
