<h1>Terms and Conditions</h1>

<p>
Last Modified: August, 15 2015
</p>

<p>
Welcome to Paradrop, a multi-tenant platform for dynamically installed third-party services on home gateways, owned and operated by Centaur Systems, Inc., a Delaware corporation ("Paradrop", "we" or "us"). The following terms and conditions, together with any documents referred to in them (collectively, "Terms of Use") apply to 
your use of our website, our services, and any applications (including mobile-based applications) made available by Paradrop (collectively, the "Services").  These Terms of Use do not apply to third-party applications used or accessed through our Services.
</p>

<p>
By using the Services, you agree to follow and be bound by these Terms of Use and our Privacy Policy, incorporated herein by reference. If you do not agree to these Terms or the Privacy Policy, you may not access or use the Services in any way.
</p>

<p>
Paradrop reserves the right, in its sole discretion, to modify these Terms of Use at any time without prior notification. Site users must agree upon and abide by these changes accordingly. Please review this page periodically for changes. Any use of our Site at any time constitutes full acceptance of our Terms of Use.
</p>

<h2>
Description of Services
</h2>

<p>
Paradrop is a software platform that enables virtual applications to install and exist on WiFi router hardware. It enables simplified control over Internet-based services, which exist in the home and business today. Using Paradrop allows any developer to quickly and easily create applications for smart home innovation. Paradrop also allows configuration and control over the Wi-Fi router for usage as a router within the home.
</p>

<h2>
Accessing the Services and Account Security
</h2>

<p>
By using our Services, you represent and warrant that you are 13 years or older.
</p>

<p>
We reserve the right to withdraw or amend the Services we provide, in our sole discretion without notice. We will not be liable if, for any reason all or part of the Services are unavailable at any time or for any period. From time to time, we may restrict access to some parts of or the entire Services, to users, including registered users.
</p>

<p>
You are responsible for ensuring that all persons who access the Services through your internet connection are aware of these Terms of Use, and that they comply with them.
</p>

<p>
To access our Services, you may be asked to provide certain registration details or other information. It is a condition of your use of Paradrop’s Services that all the information you provide to us is correct, current and complete.
</p>

<p>
You will select a username and password during the registration process to access Paradrop's Services, create a user account, and upload content. You are responsible for maintaining the confidentiality of your password and you must not disclose it to any third party. You agree to immediately notify Paradrop of any unauthorized use of your username or password or any other breach of security. 
</p>

<p>
You should use particular caution when accessing your account from a public or shared computer so that others are not able to view or record your password or other personal information.
</p>

<p>
We have the right to disable any user identification code or password, whether chosen by you or provided by us, at any time in our sole discretion for any or no reason, including, if in our opinion, you have failed to comply with any provision of these Terms of Use.
</p>

<h2>
Usage Restrictions
</h2>

<p>
You may use the Services only for lawful purposes and in accordance with these Terms of Use. You agree not to use the Services:
</p>

<ul>
<li>In any way that violates any applicable federal, state, local and international law or regulation.
<li>To engage in any other conduct that restricts or inhibits anyone's use or enjoyment of the Services, or which, as determined by us, may harm Paradrop or users of our Services or expose them to liability.
</ul>

Additionally, you agree not to:
<ul>
<li>Use the Services in any manner that could disable, overburden, damage, or impair the site or interfere with any other party's use of the Services.
<li>Use any robot, spider or other automatic device, process or means to access the Services for any purpose, including, without limitation, to monitor or copy any of the material on the Services.
<li>Use any manual process to monitor or copy any of the material on the Services or for any other unauthorized purpose without our prior written consent.
<li>Use any device, software or routine that modifies, intercepts, or interferes with the proper working of the Services.
<li>Introduce any viruses, trojan horses, worms, logic bombs or other material which is malicious or technologically harmful.
<li>Attempt to gain unauthorized access to, interfere with, damage or disrupt any parts of the Services, the server on which the Services are stored, or any server, computer or database connected to the Services. 
<li>Otherwise attempt to interfere with the proper working of the Services.
</ul>

<h2>
User Content
</h2>

<p>
Paradrop Services may allow users to create and share video, audio, pictures and text.  The Services may include message boards, chat rooms, personalized web pages or profiles, forums, bulletin boards, and other interactive features (collectively, "Interactive Services") that allow users to post, submit, publish, display or transmit to other users or other persons (hereinafter, "post") content or materials (collectively, "User Content") on or through the Services.  
</p>

<p>
All User Content must comply with the Content Standards set out in these Terms of Use.
</p>

<p>
Any User Content you post to the Services will be considered non-confidential and non-proprietary. By providing any User Content to our Services, you hereby grant us and our affiliates and service providers, and each of their and our respective licensees, successors and assigns, a non-exclusive, fully paid and royalty-free, transferable, sub-licensable, worldwide license to use, reproduce, modify, perform, display, distribute and otherwise disclose to third parties your User Content for any purpose, including any personal information you disclose in User Content.  
</p>

<p>
You represent and warrant that: 
</p>

<ol>
<li>You own or control all rights in and to the User Content and have the right to grant the license granted above to us and our affiliates and service providers, and each of their and our respective licensees, successors and assigns.
<li>All of your User Content complies with these Terms of Use. 
</ol>

<p>
You understand and acknowledge that you are responsible for any User Content you submit or contribute, and you, and not Paradrop, have full responsibility for such content, including its legality, reliability, accuracy and appropriateness.  User Content must not:
</p>

<ul>
<li>Contain any material which is defamatory, obscene, indecent, abusive, offensive, harassing, violent, hateful, inflammatory or otherwise objectionable.
<li>Promote sexually explicit or pornographic material, violence, or discrimination based on race, sex, religion, nationality, disability, sexual orientation or age.
<li>Infringe any patent, trademark, trade secret, copyright or other intellectual property or other rights of any other person.
<li>Violate the legal rights (including the rights of publicity and privacy) of others or contain any material that could give rise to any civil or criminal liability under applicable laws or regulations or that otherwise may be in conflict with these Terms of Use and our Privacy Policy https://paradrop.io/privacy-policy.
<li>Be likely to deceive any person.
<li>Promote any illegal activity, or advocate, promote or assist any unlawful act.
<li>Cause annoyance, inconvenience or needless anxiety or be likely to upset, embarrass, alarm or annoy any other person.
<li>Impersonate any person, or misrepresent your identity or affiliation with any person or organization. 
<li>Involve commercial activities or sales, such as contests, sweepstakes and other sales promotions, barter or advertising.
</ul>


<p>
We are not responsible, or liable to any third party, for the content or accuracy of any User Content posted by you or any other user of the Services.
</p>

<p>
Paradrop strives to create an interactive relationship with the members of its Services. User comments, feedback, suggestions, ideas, and other submissions disclosed, submitted or offered to Paradrop with respect to Paradrop, its business or the Services ("User Submissions") shall be and remain Paradrop property. Users assign all property rights and interests to Paradrop allowing our company unlimited use, commercial or otherwise, of any User Submissions. Furthermore, Paradrop shall be under no obligation (1) to maintain any User Submissions in confidence; (2) to pay to users any compensation for any User Submissions; or (3) to respond to any User Submissions.
</p>


<h2>
Monitoring and Enforcement of User Content; Termination
</h2>

<p>
We have the right to:
</p>
<ul>
<li>Remove or refuse to post any User Content for any or no reason in our sole discretion.
<li>Take any action with respect to any User Content that we deem necessary or appropriate in our sole discretion, including if we believe that such User Content violates the Terms of Use, including the Content Standards, infringes any intellectual property right or other right of any person or entity, threatens the personal safety of users of the Services or the public or could create liability for us.
<li>Disclose your identity or other information about you to any third party who claims that material posted by you violates their rights, including their intellectual property rights or their right to privacy.
<li>Take appropriate legal action, including without limitation, referral to law enforcement, for any illegal or unauthorized use of the Services. 
<li>Terminate or suspend your access to all or part of the Services for any or no reason, including without limitation, any violation of these Terms of Use.
</ul>

<p>
Without limiting the foregoing, we have the right to fully cooperate with any law enforcement authorities or court order requesting or directing us to disclose the identity or other information of anyone posting any materials on or through the Services. YOU WAIVE AND HOLD HARMLESS THE COMPANY AND ITS AFFILIATES, LICENSEES AND SERVICE PROVIDERS FROM ANY CLAIMS RESULTING FROM ANY ACTION TAKEN BY ANY OF THE FOREGOING PARTIES DURING OR AS A RESULT OF SUCH PARTIES’  INVESTIGATIONS AND FROM ANY ACTIONS TAKEN AS A CONSEQUENCE OF INVESTIGATIONS BY SUCH PARTIES OR LAW ENFORCEMENT AUTHORITIES.
</p>

<p>
However, we do not undertake to review material before it is posted to our Services, and cannot ensure prompt removal of objectionable material after it has been posted. Accordingly, we assume no liability for any action or inaction regarding transmissions, communications or content provided by any user or third party. We have no liability or responsibility to anyone for performance or nonperformance of the activities described in this section. 
</p>

<h2>
Copyright Infringement
</h2>

<p>
If you believe that any User Content violates your copyright or that your intellectual property rights have been otherwise violated, you should notify Paradrop of your infringement claim in accordance with the procedure set forth below.
</p>

<p>
Paradrop will investigate notices of alleged infringement and will take appropriate actions under the Digital Millennium Copyright Act (“DMCA”) and other applicable intellectual property laws with respect to any alleged or actual infringement. A notification of claimed copyright infringement should be emailed to Paradrop’s Copyright Agent at admin@paradrop.io (Subject line: “DMCA Takedown Request”). 
</p>

<p>
To be effective, the notification must be in writing and contain the following information:
</p>

<ul>
<li>An electronic or physical signature of the person authorized to act on behalf of the owner of the copyright or other intellectual property interest.
<li>A description of the copyrighted work or other intellectual property that you claim has been infringed.
<li>A description of where the material that you claim is infringing is located on the Services, with enough detail that we may find it on the Services.
<li>Your address, telephone number, and email address.
<li>A statement by you that you have a good faith belief that the disputed use is not authorized by the copyright or intellectual property owner, its agent, or the law.
<li>A statement by you, made under penalty of perjury, that the above information in your notice is accurate and that you are the copyright or intellectual property owner or authorized to act on the copyright or intellectual property owner’s behalf.
</ul>

<p>
Please be aware that if you knowingly materially misrepresent that material or activity on the Services is infringing your copyright, you may be held liable for damages (including costs and attorneys' fees) under Section 512(f) of the DMCA.
</p>

<p>
It is our policy to terminate the user accounts of repeat infringers.
</p>

<h2>
Intellectual Property Rights
</h2>

<p>
The Services and its entire contents, features and functionality (including but not limited to all information, software, text, displays, images, video and audio, and the design, selection and arrangement thereof), are owned by Paradrop, its licensors or other third-parties who have authorized use of such content and are protected by United States and international copyright, trademark, patent, trade secret and other intellectual property or proprietary rights laws.
</p>

<p>
You may view and make copies of documents, pages, images or other materials or content on the Services for your non-commercial, personal use only.   You may not distribute, display, transmit or disseminate any such documents, pages, images, or other materials without the prior written consent of Paradrop. If you wish to make any use of material on our Services, please address your request to: admin@paradrop.io.
</p>

<p>
If you print, copy, modify, download or otherwise use any part of the Services in breach of the Terms of Use, your right to use the Services will cease immediately. No right, title or interest in or to the Services is transferred to you, and all rights not expressly granted are reserved by Paradrop. 
</p>

<p>
Any use of the Services not expressly permitted by these Terms of Use is a breach of these Terms of Use and may violate copyright, trademark and other laws.
</p>

<p>
The Paradrop name and all related names, logos, product and service names, designs and slogans are trademarks of Paradrop or its affiliates or licensors. You must not use such marks without the prior written permission of Paradrop. All other names, brands and marks are used for identification purposes only and are the trademarks of their respective owners.
</p>

<h2>
Notice
</h2>

<p>
Paradrop may contact you or provide you with service-related and/or promotional notices by means of postal mail, electronic mail, general site notifications and more using the contact information you have provided to us.
</p>


<h2>
Correction of Site Errors
</h2>

<p>
The information on the Paradrop website may contain typographical errors or inaccuracies. We reserve the right to update any information we see fit at any time without prior notice. Please note that such errors may relate to product information, pricing and availability. In these instances, we shall have the right to terminate any orders involving pricing errors or inaccuracies. We apologize for any inconveniences.
</p>

<h2>
Indemnity
</h2>

<p>
By use of this Site, you agree to indemnify and hold Paradrop (and its officers, directors, agents, subsidiaries, joint ventures, and employees) harmless from any claim or demand, as well as losses, expenses, damages and costs, resulting from any violation of these terms of service or any activity related to your account (including negligent or wrongful conduct).
</p>

<h2>
Termination
</h2>

<p>
Paradrop reserves the right to terminate your access to and use of the Services at any time and for any reason or for no reason.  Paradrop shall have no liability and you shall have no recourse in the event your access to and use of the Services is terminated.  The warranties, confidentiality obligations, proprietary rights, ownership rights, limitations of liability and indemnification obligations of this Terms of Use shall survive the termination of your access to and use of the Services. 
</p>

<p>
We assume no liability for any action or inaction regarding transmissions, communications or content provided by any user or third party. We have no liability or responsibility to anyone for performance or nonperformance of the activities described in this paragraph. 
</p>

<h2>
Reliance on Information Posted; Third Party Links
</h2>

<p>
The information presented on or through our Services is made available solely for general information purposes. We do not warrant the accuracy, completeness or usefulness of this information. We disclaim all liability and responsibility arising from any reliance placed on such materials by you or any other user of our Services, or by anyone who may be informed of any of its contents.
</p>

<p>
Our Services include content provided by third parties, including materials provided by other users, third-party licensors, syndicators, aggregators and/or reporting services. All statements and/or opinions expressed in these materials, and all articles and responses to questions and other content, other than the content provided by Paradrop, are solely the opinions and the responsibility of the person or entity providing those materials. These materials do not necessarily reflect the opinion of Paradrop. We are not responsible, or liable to you or any third party, for the content or accuracy of any materials provided by any third parties.
</p>

<p>
If our Services contain links to other sites and resources provided by third parties, these links are provided for your convenience only. This includes links contained in advertisements, including banner advertisements and sponsored links. We have no control over the contents of those sites or resources, and accept no responsibility for them or for any loss or damage that may arise from your use of them. If you decide to access any of the third party sites linked to our Services, you do so entirely at your own risk and are subject to the terms and conditions of use for such sites.
</p>

<p>
WE ARE NOT RESPONSIBLE OR LIABLE FOR ANY LOSS OR DAMAGE OF ANY SORT INCURRED AS A RESULT OF ANY DEALINGS OR INTERACTIONS WITH ANY THIRD PARTY WEBSITE OR MERCHANT OR OPERATOR OF SUCH A THIRD PARTY WEBSITE.
</p>

<h2>
Modification/Termination of Website
</h2>

<p>
We may update the Services, or any portion of the Services, from time to time, but content is not necessarily complete or up-to-date. Any of the material included in our Services may be out of date at any given time, and we are under no obligation to update such material. We may suspend access to the Services, or any portion of the Services, or terminate any portion indefinitely. 
</p>

<p>
In the event of termination, you will still be bound by your obligations under these Terms of Use, including the warranties made by you, and by the disclaimers and limitations of liability. Paradrop shall not be liable to you or any third-party for any termination of your access.
</p>


<h2>
Information About You and Your Use of the Services
</h2>

<p>
All information we collect on our Services is subject to our Privacy Policy. By using the Services, you consent to all actions taken by us with respect to your information in compliance with the Privacy Policy. 
</p>

<h2>
Linking to our Services
</h2>

<p>
You may link to our homepage, provided you do so in a way that is fair and legal and does not damage our reputation or take advantage of it, but you must not establish a link in such a way as to suggest any form of association, approval or endorsement on our part where none exists. 
</p>

<h2>
Payment
</h2>

<p>
All products remain Paradrop property until full payment is made. The price applicable is that set at the date on which you place your order. Shipping costs and payment fees are recognized before confirming the purchase. If you are under 18 years old you must have parents' permission to buy from Paradrop.
</p>

<p>
All transfers conducted through Paradrop are handled and transacted through third party dedicated gateways to ensure  your protection. Card information is not stored and all card information is handled over SSL encryption. Please read the terms & conditions for the payment gateway chosen for the transaction as they are responsible for the transactions made.
</p>



<h2>
Disclaimer of Warranties; Limitation of Liability
</h2>

<p>
You understand that we cannot and do not guarantee or warrant that files available for downloading from the Internet or the Services will be free of viruses or other destructive code. You are responsible for implementing sufficient procedures and checkpoints to satisfy your particular requirements for anti-virus protection and accuracy of data input and output, and for maintaining a means external to our Services for any reconstruction of any lost data. 
</p>

<p>
WE WILL NOT BE LIABLE FOR ANY LOSS OR DAMAGE CAUSED BY A DISTRIBUTED DENIAL-OF-SERVICE ATTACK, VIRUSES OR OTHER TECHNOLOGICALLY HARMFUL MATERIAL THAT MAY INFECT YOUR COMPUTER EQUIPMENT, COMPUTER PROGRAMS, DATA OR OTHER PROPRIETARY MATERIAL DUE TO YOUR USE OF THE SERVICES OR ITEMS OBTAINED THROUGH THE SERVICES OR TO YOUR DOWNLOADING OF ANY MATERIAL POSTED ON IT, OR ON ANY SITE LINKED TO IT.
</p>

<p>
YOUR USE OF THE SERVICES, ITS CONTENT AND ANY ITEMS OBTAINED THROUGH THE SERVICES IS AT YOUR OWN RISK. THE SERVICES, ITS CONTENT OR ITEMS OBTAINED THROUGH THE SERVICES ARE PROVIDED ON AN "AS IS" AND "AS AVAILABLE" BASIS, WITHOUT ANY WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED. NEITHER PARADROP NOR ANY PERSON ASSOCIATED WITH PARADROP MAKES ANY WARRANTY OR REPRESENTATION WITH RESPECT TO THE COMPLETENESS, SECURITY, RELIABILITY, QUALITY, ACCURACY OR AVAILABILITY OF THE SERVICES. 
</p>

<p>
WITHOUT LIMITING THE FOREGOING, NEITHER PARADROP NOR ANYONE ASSOCIATED WITH PARADROP REPRESENTS OR WARRANTS THAT THE SERVICES, ITS CONTENT OR ITEMS OBTAINED THROUGH THE SERVICES WILL BE ACCURATE, RELIABLE, ERROR-FREE OR UNINTERRUPTED, THAT DEFECTS WILL BE CORRECTED, THAT OUR SERVICES OR THE SERVER THAT MAKES IT AVAILABLE ARE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS OR THAT THE SERVICES OR ITEMS OBTAINED THROUGH THE SERVICES WILL OTHERWISE MEET YOUR NEEDS OR EXPECTATIONS. 
</p>

<p>
PARADROP HEREBY DISCLAIMS ALL WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED, STATUTORY OR OTHERWISE, INCLUDING BUT NOT LIMITED TO ANY WARRANTIES OF MERCHANTABILITY, NON-INFRINGEMENT AND FITNESS FOR PARTICULAR PURPOSE.
</p>

<p>
THE FOREGOING DOES NOT AFFECT ANY WARRANTIES WHICH CANNOT BE EXCLUDED OR LIMITED UNDER APPLICABLE LAW.
</p>

<p>
IN NO EVENT WILL PARADROP, ITS AFFILIATES OR THEIR LICENSORS, SERVICE PROVIDERS, EMPLOYEES, AGENTS, OFFICERS OR DIRECTORS BE LIABLE FOR DAMAGES OF ANY KIND, UNDER ANY LEGAL THEORY, ARISING OUT OF OR IN CONNECTION WITH YOUR USE, OR INABILITY TO USE, THE SERVICES, ANY SITES LINKED TO IT, ANY CONTENT ON THE SERVICES OR SUCH OTHER SITES OR ANY SERVICES OR ITEMS OBTAINED THROUGH THE SERVICES OR SUCH OTHER SITES, INCLUDING ANY DIRECT, INDIRECT, SPECIAL, INCIDENTAL, CONSEQUENTIAL OR PUNITIVE DAMAGES, INCLUDING BUT NOT LIMITED TO, PERSONAL INJURY, PAIN AND SUFFERING, EMOTIONAL DISTRESS, LOSS OF REVENUE, LOSS OF PROFITS, LOSS OF BUSINESS OR ANTICIPATED SAVINGS, LOSS OF USE, LOSS OF GOODWILL, LOSS OF DATA, AND WHETHER CAUSED BY TORT (INCLUDING NEGLIGENCE), BREACH OF CONTRACT OR OTHERWISE, EVEN IF FORESEEABLE.
</p>

<p>
THE FOREGOING DOES NOT AFFECT ANY LIABILITY WHICH CANNOT BE EXCLUDED OR LIMITED UNDER APPLICABLE LAW.
</p>


<h2>
Force Majeure
</h2>

<p>
Events outside Paradrop control, which are not reasonably foreseeable, shall be considered force majeure, meaning that Paradrop is released from Paradrop obligations to fulfill contractual agreements. Examples of such events, but without limitation, are government action or omission, new or amended legislation, conflict, embargo, fire or flood, sabotage, accident, war, natural disasters, strikes or lack of delivery from suppliers. The force majeure also includes government decisions that affect the market negatively and products, for example, restrictions, warnings, bans, etc.
</p>


<h2>
Indemnification
</h2>

<p>
You agree to defend, indemnify and hold harmless Paradrop, its affiliates and licensors and their respective officers, directors, employees, contractors, agents, licensors and suppliers from and against any claims, liabilities, damages, judgments, awards, losses, costs, expenses or fees (including reasonable attorneys' fees) resulting from your violation of these Terms of Use or your use of the Services, including, without limitation, any use of the Services’ content and products other than as expressly authorized in these Terms of Use or your use of any information obtained from the Services.
</p>

<h2>
Governing Law and Jurisdiction
</h2>

<p>
Your use of our Services is governed by the laws of the State of Tennessee, without regard to its choice of law provisions. The Hamilton County, Tennessee state or federal Courts of general jurisdiction will be the exclusive venue for litigating disputes arising out of this Terms of Use or your use of the Services, and you submit to the jurisdiction of such courts and waive any objection thereto.
</p>

<h2>
Limitation on Time to File Claims
</h2>

<p>
ANY CAUSE OF ACTION OR CLAIM YOU MAY HAVE ARISING OUT OF OR RELATING TO THESE TERMS OF USE OR THE SERVICES MUST BE COMMENCED WITHIN ONE (1) YEAR AFTER THE CAUSE OF ACTION ACCRUES, OTHERWISE, SUCH CAUSE OF ACTION OR CLAIM IS PERMANENTLY BARRED. 
</p>

<h2>
Waiver and Severability
</h2>

<p>
No waiver of these Terms of Use by Paradrop shall be deemed a further or continuing waiver of such term or condition or any other term or condition, and any failure of Paradrop to assert a right or provision under these Terms of Use shall not constitute a waiver of such right or provision.
</p>

<p>
If any provision of these Terms of Use is held by a court of competent jurisdiction to be invalid, illegal or unenforceable for any reason, such provision shall be eliminated or limited to the minimum extent such that the remaining provisions of the Terms of Use will continue in full force and effect. 
</p>

<h2>
Entire Agreement
</h2>

<p>
This Terms of Use and our Privacy Policy https://paradrop.io/privacy-policy constitute the sole and entire agreement between you and Paradrop with respect to the Services and your use thereof and supersedes all prior and contemporaneous understandings, agreements, representations and warranties, both written and oral, with respect to the Services. 
</p>

<h2>
Your Comments and Concerns
</h2>

<p>
Thank you for visiting our website and using our Services. All feedback, comments, requests for technical support and other communications relating to our Services should be directed to: admin@paradrop.io.
</p>




